{include file="common/resouce"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 模板管理 <span class="c-gray en">&gt;</span> 模板展示 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<embed src="{$info.url}" FlashVars="bcastr_xml_url={$info.xml_url}&bcastr_config=0xffffff|1|0x0066ff|20|0xffffff|0x0066ff|0x000033|2|3|3|_blank" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="500" height="300" loop="true" autostart="true">
<!--bcastr4-->
<!--<object id="bcastr4" data="{$info.url}?xml=/xml/7192.xml" type="application/x-shockwave-flash" width="500" height="300">-->
    <!--<param name="movie" value="{$info.url}?xml=/xml/7192.xml" />-->
<!--</object>-->
{include file="common/footer_common"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/h_ui/lib/lightbox2/2.8.1/js/lightbox.min.js"></script>
<script type="text/javascript">
$(function(){
	$(".portfolio-area li").Huihover();
});
</script>
{include file="common/footer"}