<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="">
    <title>全影_在线视频制作_diy婚礼视频_电子相册_企业宣传片 - 全影DIY视频chuanying520.com</title>
    <meta name="keywords"
          content="全影DIY,婚礼视频制作,婚礼电子相册模板,婚礼电子相册制作,婚礼短片制作,婚礼开场片,婚礼预告片,婚礼视频模版,成长感恩片,婚礼mv,成长mv,照片视频制作,电子相册制作,在线视频制作,相册视频制作,企业宣传片,电子相册,照片视频,宝宝成长,生日祝福,同学聚会,求婚表白,毕业视频,旅行视频">
    <meta name="description" content="全影DIY，零基础，上传照片和视频，即可快速制作精美视频，如婚礼视频、电子相册、开场视频、企业宣传片、宝宝成长记录、年会视频、求婚表白、毕业视频、旅行视频等">
    <link href="/static/index/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/index/css/boots.css" rel="stylesheet" type="text/css"/>
    <link href="/static/index/css/home_new.css" rel="stylesheet" type="text/css"/>
    <link href="/static/index/css/login_modal.css" rel="stylesheet" type="text/css"/>
    <link href="/static/index/css/help.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/index/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="/static/index/js/jquery.tipsy.min.js"></script>
    <link href="/static/index/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/index/css/jquery.tipsy.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/index/js/common.min.js"></script>
    <script type="text/javascript" src="/static/index/js/common-modal.min.js"></script>
    <script type="text/javascript" src="/static/index/js/login.min.js"></script>
    <script type="text/javascript" src="/static/index/js/slidepic.js"></script>
    <!--<style>
        .tipsy-inner {
            background-color: #4DD3C5;
        }
        .tipsy-arrow-s {
            border-top-color: #4DD3C5;
        }
    </style>-->
</head>
<body>
{include file="/common/lists"}
<script>
    var hour = new Date().getHours();
    var timeRegion;
    if (hour >= 4 && hour < 7) {
        timeRegion = '凌晨好';
    } else if (hour >= 7 && hour < 8) {
        timeRegion = '早晨好';
    } else if (hour >= 8 && hour < 12) {
        timeRegion = '上午好';
    } else if (hour >= 12 && hour < 14) {
        timeRegion = '中午好';
    } else if (hour >= 14 && hour < 18) {
        timeRegion = '下午好';
    } else if (hour >= 18 && hour < 23) {
        timeRegion = '晚上好';
    } else {
        timeRegion = '深夜好';
    }
    console.log('%c^*(- -)*^ ' + timeRegion, 'color: #4DD3C5;font-size:50px;');
    var user_profile = $('#user-profile');
    user_profile.text(user_profile.text() + ', ' + timeRegion);
    $('.tpcont').hover(function () {
        setTimeout(function () {
            $('.tpbubble').stop().animate({'right': '127px'});
        }, 200);
    }, function () {
        setTimeout(function () {
            $('.tpbubble').stop().animate({'right': '-8px'});
        }, 200);
    });
</script>
<script type="text/javascript" src="/static/index/js/video-modal.min.js"></script>
<div class="videobanner">
    <div class="videos">
        <video autoplay="" loop="">
            <source src="static/index/video/main.mp4" type="video/mp4">
        </video>
    </div>
    <div class="word">
        <h2>比PPT还简单的 在线视频制作神器</h2>
        <span>丰富模板 傻瓜操作 一键替换图文 快速生成</span>
        <i></i>
        <div class="btn">
            <ins></ins>
            <a href="/index/index/cates?cate=9">立即制作</a>
        </div>
        <div class="tutorial">
            <a href="javascript:preVideoByURL('static/index/video/tutorial.mp4', 3)"><i class="fa fa-play-circle-o fa-lg" aria-hidden="true"></i>&nbsp;查看制作教程</a>
        </div>
    </div>
</div>
<div class="cjtitle">
    <div class="wrap">
        <div class="webtitles">
            {volist name="cates" id="vo"}
            {eq name="$vo.pid" value="0"}
            <i>{$vo.name}</i>
            {/eq}
            {/volist}
        </div>
        <div class="contm">
            {volist name="cates" id="vo"}
            {eq name="$vo.pid" value="0"}
            <div class="tabcmt none">
                <!--<a href="javascript:void(0);" data-cate="3" data-type="0">全部</a>-->
                {volist name="cates" id="cid"}
                {if condition="$cid.pid eq $vo.id"}
                <a href="javascript:void(0);" data-cate="{$vo.id}" data-type="{$cid.id}">{$cid.name}</a>
                {/if}
                {/volist}
            </div>
            {/eq}
            {/volist}
        </div>
    </div>
</div>
<div class="caselist">
    <div class="wrap" id="templates-container">
        <ul class="listm clearfix">
            <!--{volist name="list" id="li"}-->
            <!--<li>-->
                <!--<a href="javascript:void(0);" onclick="previewVideo(this)" data-id="{$li.id}">-->
                    <!--<em data-id="{$li.id}">-->
                    <!--<img id="scene-518" src="{$li.img}" style="display: block;"><b></b>-->
                <!--</em>-->
                <!--<span><i>{$li.model_name}</i><ins>{$li.time}</ins><button>立即使用</button></span>-->
                <!--</a>-->
            <!--</li>-->
            <!--{/volist}-->
        </ul>
        <div class="btn">
            <a href="/index/index/cates?cate=9">查看更多</a>
        </div>
    </div>
</div>
<div class="indprocess">
    <div class="wrap">
        <div class="title"><b>轻松三步 完成视频</b>
            <p>简单易懂 所见即所得 基于即时云计算 零基础在线制作高端私人视频</p>
        </div>
        <ul class="clearfix">
            <li><i><img src="/static/index/images/lcpic1.png"></i><em>选择视频模板</em></li>
            <li>
                <ins><img src="/static/index/images/arrows.png"></ins>
            </li>
            <li><i><img src="/static/index/images/lcpic2.png"></i><em>上传照片和文字</em></li>
            <li>
                <ins><img src="/static/index/images/arrows.png"></ins>
            </li>
            <li><i><img src="/static/index/images/lcpic3.png"></i><em>输出视频</em></li>
        </ul>
        <div class="btn">
            <a href="/index/index/cates?cate=9">立即制作</a>
        </div>
    </div>
</div>
<!--<div class="indservice">
    <div class="wrap">
        <div class="title">全影DIY，为你的照片视频提供更人性化服务</div>
        <div class="cont">
            <ins><img src="images/dnpic.png"></ins>
            <span class="span1"><b><i></i><img src="images/indico1.png"></b><em>快速上手</em></span>
            <span class="span2"><b><i></i><img src="images/indico2.png"></b><em>超清分辨率</em></span>
            <span class="span3"><b><i></i><img src="images/indico3.png"></b><em>丰富的创意</em></span>
            <span class="span4"><b><i></i><img src="images/indico4.png"></b><em>在线DIY</em></span>
        </div>
    </div>
</div>-->
<script type="text/javascript">
    var timer = {};//控制各个模板的图片轮播
    var i = 0;
    var ali_domain = $('#alioss-domain').val();
    $(function () {
        $(".cjtitle .tabcmt a").click(function () {
            $(this).addClass("on").siblings().removeClass('on');
            var cate = $(this).data('cate');
            var type = $(this).data('type');
            show_templates(cate, type);
        }).eq(0).removeClass('none');
        $(".cjtitle .webtitles i").click(function () {
            $(".cjtitle .webtitles i").eq($(this).index()).addClass("on").siblings().removeClass('on');
            $(".cjtitle .tabcmt").hide().eq($(this).index()).show().children('a').removeClass('on').eq(0).trigger('click');
        }).eq(0).trigger('click');
    });
    /**
     * dom添加的对象
     **/
    function show_templates(cate, type) {
        var ele_str = 'templates-' + cate + '-' + type;
        var ele = $('#' + ele_str);
        if (ele.length) {
            ele.show().siblings('ul').hide();
            return false;
        }
        $.post('/index/index/getCate/cate/' + cate + '/type/' + type, function (response) {
            if (response.error) {
                diybox.alert(response.data);
                return false;
            }
            var html = '<ul class="listm clearfix" id="' + ele_str + '">';
            $.each(response.data, function (i, v) {
                var resizeWay = parseInt(v.screentype) === 2 ? 'fixed' : 'pad';
                html += '<li>\
                                <a href="javascript:void(0);" onclick="previewVideo(this)" data-id="' + v.id + '">\
									<em data-id="' + v.id + '">\
										<img src="' + v.img + '"><b></b></em>\
									<span><i>' + v.model_name + '</i><ins>' + v.time + '</ins><button>立即使用</button></span>\
                            	</a>\
                            </li>';
            });
            html += '</ul>';
            $('#templates-container').prepend(html);
            ele = $('#' + ele_str);
            ele.show().siblings('ul').hide();
        }, 'json');
    }
    function previewVideo(_obj) {
        var id = parseInt($(_obj).data('id'));
        i = 0;
        timer[id] = false;
        previewLayer(id, 1);
    }
</script>
{include file="/common/footer"}
<script type="text/javascript" src="/static/index/js/191004.js" async defer></script>
<script>
    jQuery(".indcase .cont").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        autoPage: true,
        effect: "left",
        autoPlay: true,
        scroll: 3,
        vis: 3,
        delayTime: 1000,
        pnLoop: false,
        trigger: "click"
    });
</script>
</body>
</html>