
publicMusice
<dl class="clearfix" id="public-music-nav">
    <dd data-content="music-cate-wedding" class="on"><a href="javascript:void(0);">婚礼</a></dd>

    <dd data-content="music-cate-kids"><a href="javascript:void(0);">童趣</a></dd>

    <dd data-content="music-cate-business"><a href="javascript:void(0);">商务</a></dd>

    <dd data-content="music-cate-young"><a href="javascript:void(0);">青春</a></dd>

</dl>
<ul class="public-music-list" id="music-cate-wedding">
    <li class="music-li" id="music-80" data-music="http://res.chuanying520.com/music/wedding/aE39ABKmpd.mp3"
        data-file="music/wedding/aE39ABKmpd.mp3" data-id="80" data-length="4:04">
        <a href="javascript:void(0);" onclick="music_play(this)" title="甜甜的-周杰伦">甜甜的-周杰伦</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-79" data-music="http://res.chuanying520.com/music/wedding/znKDB0zFln.mp3"
        data-file="music/wedding/znKDB0zFln.mp3" data-id="79" data-length="3:35">
        <a href="javascript:void(0);" onclick="music_play(this)" title="告白气球-周杰伦">告白气球-周杰伦</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-78" data-music="http://res.chuanying520.com/music/wedding/Id6WxZ1LgX.mp3"
        data-file="music/wedding/Id6WxZ1LgX.mp3" data-id="78" data-length="4:17">
        <a href="javascript:void(0);" onclick="music_play(this)" title="不完美女孩-周冬雨">不完美女孩-周冬雨</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-77" data-music="http://res.chuanying520.com/music/wedding/ACcTOSTA3r.mp3"
        data-file="music/wedding/ACcTOSTA3r.mp3" data-id="77" data-length="3:29">
        <a href="javascript:void(0);" onclick="music_play(this)" title="一次就好-沈腾">一次就好-沈腾</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-76" data-music="http://res.chuanying520.com/music/wedding/YiHawpvQ7m.mp3"
        data-file="music/wedding/YiHawpvQ7m.mp3" data-id="76" data-length="2:09">
        <a href="javascript:void(0);" onclick="music_play(this)" title="周杰伦婚礼背景音乐-群星">周杰伦婚礼背景音乐-群星</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-75" data-music="http://res.chuanying520.com/music/wedding/hAUDUfkO3v.mp3"
        data-file="music/wedding/hAUDUfkO3v.mp3" data-id="75" data-length="4:05">
        <a href="javascript:void(0);" onclick="music_play(this)" title="I Do-彭坦/春晓">I Do-彭坦/春晓</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-74" data-music="http://res.chuanying520.com/music/wedding/anLoMuh3sL.mp3"
        data-file="music/wedding/anLoMuh3sL.mp3" data-id="74" data-length="3:31">
        <a href="javascript:void(0);" onclick="music_play(this)" title="我们结婚吧-刘佳/金莎">我们结婚吧-刘佳/金莎</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-73" data-music="http://res.chuanying520.com/music/wedding/Acwa5Ku7t8.mp3"
        data-file="music/wedding/Acwa5Ku7t8.mp3" data-id="73" data-length="3:56">
        <a href="javascript:void(0);" onclick="music_play(this)" title="Sugar-Maroon 5">Sugar-Maroon 5</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-72" data-music="http://res.chuanying520.com/music/wedding/TkILSTVamU.mp3"
        data-file="music/wedding/TkILSTVamU.mp3" data-id="72" data-length="4:04">
        <a href="javascript:void(0);" onclick="music_play(this)" title="I'm Yours-Jason Mraz">I'm Yours-Jason Mraz</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-71" data-music="http://res.chuanying520.com/music/wedding/39TrfmUNGa.mp3"
        data-file="music/wedding/39TrfmUNGa.mp3" data-id="71" data-length="3:30">
        <a href="javascript:void(0);" onclick="music_play(this)" title="Everybody-Ingrid Michaelson">Everybody-Ingrid Michaelson</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-70" data-music="http://res.chuanying520.com/music/wedding/1Ade8YlNdv.mp3"
        data-file="music/wedding/1Ade8YlNdv.mp3" data-id="70" data-length="3:38">
        <a href="javascript:void(0);" onclick="music_play(this)" title="Can't Stop Love-Darin">Can't Stop Love-Darin</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-93" data-music="http://res.chuanying520.com/music/young/8xT9MqOJDG.mp3"
        data-file="music/young/8xT9MqOJDG.mp3" data-id="93" data-length="4:31">
    <a href="javascript:void(0);" onclick="music_play(this)" title="我们的时光-赵雷">我们的时光-赵雷</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-92" data-music="http://res.chuanying520.com/music/young/MwpnyBJOR7.mp3"
        data-file="music/young/MwpnyBJOR7.mp3" data-id="92" data-length="3:54">
        <a href="javascript:void(0);" onclick="music_play(this)" title="初爱-杨宗纬">初爱-杨宗纬</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-91" data-music="http://res.chuanying520.com/music/young/hVamkVLBOu.mp3"
        data-file="music/young/hVamkVLBOu.mp3" data-id="91" data-length="3:17">
        <a href="javascript:void(0);" onclick="music_play(this)" title="逝年-夏小虎">逝年-夏小虎</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-90" data-music="http://res.chuanying520.com/music/young/9lI5T1DYKa.mp3"
        data-file="music/young/9lI5T1DYKa.mp3" data-id="90" data-length="3:14">
        <a href="javascript:void(0);" onclick="music_play(this)" title="致青春-王菲">致青春-王菲</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-89" data-music="http://res.chuanying520.com/music/young/bo65yIVZJm.mp3"
        data-file="music/young/bo65yIVZJm.mp3" data-id="89" data-length="2:56">
        <a href="javascript:void(0);" onclick="music_play(this)" title="南方的我，北方的你-王般若">南方的我，北方的你-王般若</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-88" data-music="http://res.chuanying520.com/music/young/oP6EftRCJg.mp3"
        data-file="music/young/oP6EftRCJg.mp3" data-id="88" data-length="2:38">
        <a href="javascript:void(0);" onclick="music_play(this)" title="提拉米苏-鹏泊">提拉米苏-鹏泊</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-87" data-music="http://res.chuanying520.com/music/young/B0e0gZgc6g.mp3"
        data-file="music/young/B0e0gZgc6g.mp3" data-id="87" data-length="6:16">
        <a href="javascript:void(0);" onclick="music_play(this)" title="春风十里-鹿先森乐队">春风十里-鹿先森乐队</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-86" data-music="http://res.chuanying520.com/music/young/Kjy2Oqfzhw.mp3"
        data-file="music/young/Kjy2Oqfzhw.mp3" data-id="86" data-length="3:58">
        <a href="javascript:void(0);" onclick="music_play(this)" title="像你这样的朋友-好妹妹乐队">像你这样的朋友-好妹妹乐队</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-85" data-music="http://res.chuanying520.com/music/young/GHKQD4a0fT.mp3"
        data-file="music/young/GHKQD4a0fT.mp3" data-id="85" data-length="4:56">
        <a href="javascript:void(0);" onclick="music_play(this)" title="不说再见-好妹妹乐队">不说再见-好妹妹乐队</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-84" data-music="http://res.chuanying520.com/music/young/j6sfuFkcxQ.mp3"
        data-file="music/young/j6sfuFkcxQ.mp3" data-id="84" data-length="3:58">
        <a href="javascript:void(0);" onclick="music_play(this)" title="最佳损友-陈奕迅">最佳损友-陈奕迅</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-83" data-music="http://res.chuanying520.com/music/young/Yx4PxbjLvm.mp3"
        data-file="music/young/Yx4PxbjLvm.mp3" data-id="83" data-length="4:32">
        <a href="javascript:void(0);" onclick="music_play(this)" title="从前的我-陈洁仪">从前的我-陈洁仪</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-82" data-music="http://res.chuanying520.com/music/young/1T9mplnhwz.mp3"
        data-file="music/young/1T9mplnhwz.mp3" data-id="82" data-length="4:37">
        <a href="javascript:void(0);" onclick="music_play(this)" title="青茫-白敬亭/李宏毅/丁冠森/赵文龙">青茫-白敬亭/李宏毅/丁冠森/赵文龙</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

    <li class="music-li" id="music-81" data-music="http://res.chuanying520.com/music/young/1Jso9M9cw2.mp3"
        data-file="music/young/1Jso9M9cw2.mp3" data-id="81" data-length="5:17">
        <a href="javascript:void(0);" onclick="music_play(this)" title="追梦赤子心-GALA">追梦赤子心-GALA</a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>

    </li>

</ul>

music
<ul id="music-list">
    <li class="music-li" id="music-22025" data-music="http://res.chuanying520.com/users/553097/music/IrhTebRLyd.mp3"
        data-file="users/553097/music/IrhTebRLyd.mp3" data-id="22025" data-length="2:15">
        <a class="private-music" href="javascript:void(0);" onclick="music_play(this)" title="The Way-Florian Bur">The Way-Florian Bur </a>
        <ins onclick="add_bgm(this)"><i class="icon-plus tips" title="设为背景音乐"></i></ins>
        <ins onclick="delete_music(this)"><i class="icon-remove tips" title="删除音乐"></i></ins>

    </li>
</ul>
<script>
    $('.tips').tipsy({gravity: 's'});
    var music_uploader = new plupload.Uploader({
        runtimes : 'html5,flash,silverlight,html4',
        browse_button : 'upload-music',
        multi_selection: false,
        container: document.getElementById('music-container'),
        flash_swf_url : '/data/static/lib/plupload-2.1.2/js/Moxie.swf',
        silverlight_xap_url : '/data/static/lib/plupload-2.1.2/js/Moxie.xap',
        url : '/member/material/upload.html',
        filters: {
            mime_types : [ //只允许上传图片r文件
                { title : "Audio files", extensions : "mp3" }
                ],
            //max_file_size : '11mb', //最大只能上传20mb的文件
            prevent_duplicates : true //不允许选取重复文件
        },
        init: {
            PostInit: function() {
                /*document.getElementById('ossfile').innerHTML = '';
                document.getElementById('postfiles').onclick = function() {
                set_upload_param(uploader, '', false);
                return false;
                };*/
            },
            FilesAdded: function(up, files) {
                plupload.each(files, function(file, i) {
                    var files_count = files.length;
                    if (!file || !/audio\//.test(file.type)) return;
                    if(file.size < 10485760){
                        /*console.log(imgsrc);*/
                        var music_html = document.getElementById('music-list').innerHTML;
                        document.getElementById('music-list').innerHTML = '<li><a href="javascript:void(0);" title="' + file.name + '">上传中-' + file.name + '</a></li>' + music_html;
                        if(i === files_count - 1) {
                            document.getElementById('waiting-music').style.display = "block";
                            document.getElementById('upload-music').style.display = "none";
                            music_uploader.start();
                        }
                    }else{
                        diybox.alert('文件“' + file.name + '”大小超过10Mb，请处理后再上传', function(){
                            music_uploader.destroy();
                            loadPrivateMusics();
                        });
                        music_uploader.destroy();
                    }
                });
            },
            BeforeUpload: function(up, file) {

            },
            UploadProgress: function(up, file) {
                var d = document.getElementById('waiting-music');
                d.getElementsByTagName('i')[0].innerHTML = '上传中' + file.percent + '%……';
                var prog = d.getElementsByTagName('div')[0];
                prog.style.width = file.percent + '%';
                if(file.percent === 100){
                    d.getElementsByTagName('i')[0].innerHTML = '音乐处理中……';
                }
            },
            FileUploaded: function(up, file, info) {
                if (info.status === 200) {
                    var response = eval("(" + info.response + ")");
                    if(response.error){
                        diybox.alert(response.msg);
                    }else{
                        diybox.msg(response.msg);
                    }
                    //var response = save_image(get_uploaded_object_name(file.name));
                    /*console.log(response);*/
                    /*document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = 'upload to oss success, object name:' + get_uploaded_object_name(file.name);*/
                }else{
                    /*document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = info.response;*/
                }
            },
            UploadComplete:function(){
                //document.getElementById('selectfiles').style.display = "block";
                // document.getElementById('waiting').style.display = "none";
                music_uploader.destroy();
                loadPrivateMusics();
                document.getElementById('waiting-music').style.display = "none";
                document.getElementById('upload-music').style.display = "block";
            },
            Error: function(up, err) {
                if (err.code === -600) {
                    /*document.getElementById('console').appendChild(document.createTextNode("\n选择的文件太大了,可以根据应用情况，在upload.js 设置一下上传的最大大小"));*/
                }else if (err.code === -601) {
                    /*document.getElementById('console').appendChild(document.createTextNode("\n选择的文件后缀不对,可以根据应用情况，在upload.js进行设置可允许的上传文件类型"));*/
                }else if (err.code === -602) {
                    /*document.getElementById('console').appendChild(document.createTextNode("\n这个文件已经上传过一遍了"));*/
                }else{
                    /*document.getElementById('console').appendChild(document.createTextNode("\nError xml:" + err.response));*/
                }
            }
        }
    });
    music_uploader.init();    /**	 * 删除音乐(加上confirm提示)     * @param _obj     */
    function delete_music(_obj){
        diybox.confirm({
            message: '您确认删除这条音乐吗(<span style="color: red;">若为背景音乐将重置为默认音乐</span>)？',
            closeBtn: false,
            yes: function(){
                var music_id = $(_obj).parent().attr('data-id');
                $.post('/member/material/deleteMusic', {'id': music_id}, function(response){
                    if(response.error){
                        diybox.alert(response.msg);
                        return false;
                    }
                    //diybox.msg(response.msg, 1500);
                    document.getElementById('player').src = '';
                    music_uploader.destroy();
                    loadPrivateMusics();
                    if (temp_bgm === parseInt(music_id)){
                        rec_bgm();
                    }
                }, 'json');
            }
        });
    }
</script>

photo
<h2>我的图片</h2>
<div class="cmt clearfix" id="ossfile">
    <div class="materials-tips" id="materials-tip"> 支持批量上传图片哟~</div>
    <div class="zprt my-image" data-new_source="users/553097/materials/sQpFSwzzme.jpg" data-id="4652697"><img
            src="http://res.chuanying520.com/users/553097/materials/sQpFSwzzme.jpg?x-oss-process=image/resize,m_pad,h_80,w_120,color_E6E6E6"><i
            onclick="delImg(this)">×</i>
    </div>
</div>
<div class="btns" id="container"><a href="javascript:void(0);" id="selectfiles" title="请上传jpg或png格式的图片">批量上传图片</a> <a
        href="javascript:void(0);" id="waiting" class="wmxuploadbtn" style="display: none"><i>上传中……</i></a>
</div>
<script>
    $('#selectfiles').tipsy({
    gravity: 's',
    offset: 5
});	//web直传至alioss
    var uploader = new plupload.Uploader({
        runtimes : 'html5,flash,silverlight,html4',
        browse_button : 'selectfiles',
        //multi_selection: false,
        container: document.getElementById('container'),
        flash_swf_url : '/data/static/lib/plupload-2.1.2/js/Moxie.swf',
        silverlight_xap_url : '/data/static/lib/plupload-2.1.2/js/Moxie.xap',
        url : 'http://oss.aliyuncs.com',
        filters: {
            mime_types : [ //只允许上传图片r文件
                 { title : "Image files", extensions : "jpg,jpeg,png" }
            ],
            max_file_size : '20mb', //最大只能上传20mb的文件
            prevent_duplicates : true //不允许选取重复文件
         },
        resize: {
            height: 2048,
            quality: 100,
            crop: false,
            preserve_headers: false
        },
        init: {
            PostInit: function() {
                /*document.getElementById('ossfile').innerHTML = '';
                document.getElementById('postfiles').onclick = function() {
                set_upload_param(uploader, '', false);
                return false;
                };*/
                },
            FilesAdded: function(up, files) {
                var files_count = files.length;
                plupload.each(files, function(file, i) {
                    if (!file || !/image\//.test(file.type)) return;
                    var ele_ossfile = document.getElementById('ossfile');
                    if (file.type === 'image/gif') {
                        //gif使用FileReader进行预览,因为mOxie.Image只支持jpg和png
                        var fr = new mOxie.FileReader();
                        fr.onload = function () {
                            var imgsrc = fr.result;
                            var materials_tip = document.getElementById('materials-tip');
                            if(materials_tip !== null) ele_ossfile.removeChild(materials_tip);
                            var ossfile_html = ele_ossfile.innerHTML;
                            ele_ossfile.innerHTML = '<div class="zprt" id="' + file.id + '">' + '<img src="' + imgsrc + '"><i>×</i>'
                                                    + '<div class="scbar"><span>上传中 <em>0%</em></span><ins><em></em></ins><b>×</b></div>'
                                                    + '</div>' + ossfile_html;
                            //console.log(fr);
                            // fr.destroy();
                            fr = null;
                            if (i === files_count - 1) {
                                document.getElementById('waiting').style.display = "block";
                                document.getElementById('selectfiles').style.display = "none";
                                set_upload_param(uploader, '', false);
                            }
                        };
                        fr.readAsDataURL(file.getSource());
                    } else {
                        var preloader = new mOxie.Image();
                        preloader.onload = function () {
                            if (preloader.height <= 10000 && preloader.width <= 10000) {
                                var materials_tip = document.getElementById('materials-tip');
                                if(materials_tip !== null) ele_ossfile.removeChild(materials_tip);
                                preloader.downsize(120, 80);//先压缩一下要预览的图片
                                var imgsrc = preloader.type == 'image/jpeg' ? preloader.getAsDataURL('image/jpeg', 80) : preloader.getAsDataURL(); //得到图片src,实质为一个base64编码的数据
                                // /*console.log(imgsrc);*/
                                var ossfile_html = ele_ossfile.innerHTML;
                                ele_ossfile.innerHTML = '<div class="zprt" id="' + file.id + '">' + '<img src="' + imgsrc + '"><i>×</i>'
                                                        + '<div class="scbar"><span>上传中 <em>0%</em></span><ins><em></em></ins><b>×</b></div>'
                                                        + '</div>' + ossfile_html;
                                //file.imgsrc = imgsrc;
                                preloader.destroy();
                                preloader = null;
                                if (i === files_count - 1) {
                                    document.getElementById('waiting').style.display = "block";
                                    document.getElementById('selectfiles').style.display = "none";
                                    set_upload_param(uploader, '', false);
                                }
                            } else {
                                //file.imgsrc = imgsrc;
                                preloader.destroy();
                                preloader = null;
                                diybox.alert('文件“' + file.name + '”宽或高超过10000，请处理后再上传', function () {
                                    loadMaterials();
                                });
                            }
                        };
                        preloader.load(file.getSource());
                    }
                });
            },
            BeforeUpload: function(up, file) {
                set_upload_param(up, file.name, true);
                },
            UploadProgress: function(up, file) {
                var d = document.getElementById(file.id);
                /*d.getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";*/
                if(d !== null) {
                    var prog = d.getElementsByTagName('div')[0];
                    var progTxt = prog.getElementsByTagName('span')[0];
                    progTxt.getElementsByTagName('em')[0].innerHTML = file.percent + '%';
                    var progContainer = prog.getElementsByTagName('ins')[0];
                    var progBar = progContainer.getElementsByTagName('em')[0];
                    progBar.style.width = file.percent + '%';
                    progBar.setAttribute('aria-valuenow', file.percent);
                }
            },
            FileUploaded: function(up, file, info) {
                if (info.status == 200) {
                    var upload_file = get_uploaded_object_name(file.name);
                    $.ajax({
                        type: "POST",
                        async: false,
                        url: "/member/material/scanImage",
                        data: {'filename': upload_file},
                        dataType: "json",
                        success: function(data){
                            save_image(upload_file);
                        }
                    });
                    /*console.log(response);*/
                    /*document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = 'upload to oss success, object name:' + get_uploaded_object_name(file.name);*/
                } else {
                    /*document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = info.response;*/
                }
            },
            UploadComplete:function(){
                //document.getElementById('selectfiles').style.display = "block";
                // document.getElementById('waiting').style.display = "none";
                loadMaterials();
                },
            Error: function(up, err) {
                if (err.code == -600) {
                    /*document.getElementById('console').appendChild(document.createTextNode("\n选择的文件太大了,可以根据应用情况，在upload.js 设置一下上传的最大大小"));*/
                }else if (err.code == -601) {
                    /*document.getElementById('console').appendChild(document.createTextNode("\n选择的文件后缀不对,可以根据应用情况，在upload.js进行设置可允许的上传文件类型"));*/
                }else if (err.code == -602) {
                    /*document.getElementById('console').appendChild(document.createTextNode("\n这个文件已经上传过一遍了"));*/
                }else{
                    /*document.getElementById('console').appendChild(document.createTextNode("\nError xml:" + err.response));*/
                }
            }
        }
    });
    uploader.init();
    function delImg(_obj){
        diybox.confirm({
            message: '您确认删除这张图片吗？',
            closeBtn: false,
            yes: function () {
                var img_id = $(_obj).parent().attr('data-id');
                $.post('/member/material/deleteMaterial', {'id': img_id}, function(response){
                    if(response.error){
                        diybox.alert(response.msg);
                        return false;
                    }
                    //diybox.msg(response.msg, 1500);
                    loadMaterials();
                }, 'json');
            }
        });
        return false;
    }
</script>

