<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<embed src="/model/{$template.template}" FlashVars="bcastr_xml_url=/xml/{$template.model_num}_{$template.userid}.xml&bcastr_config=0xffffff|1|0x0066ff|20|0xffffff|0x0066ff|0x000033|2|3|3|_blank" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1000" height="600">
<!--bcastr4-->
<!--<object id="bcastr4" data="/model/{$template.template}?xml=/xml/{$template.model_num}_{$template.userid}.xml" type="application/x-shockwave-flash" width="500" height="300">-->
    <!--<param name="movie" value="/model/{$template.template}?xml=/xml/{$template.model_num}_{$template.userid}.xml" />-->
<!--</object>-->
</body>
</html>