{include file="common/resouce"}
<article class="page-container">
	<form action="/admin/member/add" method="post" class="form form-horizontal" id="form-member-add" >
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.name}" placeholder="" id="username" name="username">
			</div>
		</div>
		<!--<div class="row cl">-->
			<!--<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>-->
			<!--<div class="formControls col-xs-8 col-sm-9">-->
				<!--<input type="password" class="input-text" value="" placeholder="" id="password" name="password">-->
			<!--</div>-->
		<!--</div>-->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$info.telphone}" placeholder="" id="mobile" name="mobile">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>类型：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="level" type="radio" id="level-1" value="0" {eq name="$info.level" value="0"} checked {/eq}>
					<label for="sex-1">个人</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="level-2" name="level" value="1" {eq name="$info.level" value="1"} checked {/eq}>
					<label for="sex-2">影楼</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="level-3" name="level" value="2" {eq name="$info.level" value="2"} checked {/eq}>
					<label for="sex-3">代理商</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="level-4" name="level" value="3" {eq name="$info.level" value="3"} checked {/eq}>
					<label for="sex-3">淘宝代理</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">开通时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',})" id="datemin" name="kt_time" class="input-text Wdate" value="{$info.kt_time|time_format}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">到期时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',})" id="datemax" name="dq_time" class="input-text Wdate" value="{$info.dq_time|time_format}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">开通业务员：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="" name="add_user" id="add_user" value="{$info.add_user}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">企业名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="" name="com_name" id="com_name" value="{$info.com_name}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="@" name="email" id="email" value="{$info.email}">
			</div>
		</div>
		<!--<div class="row cl">-->
		<!--<label class="form-label col-xs-4 col-sm-3">附件：</label>-->
		<!--<div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">-->
		<!--<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加附件！" style="width:200px">-->
		<!--<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>-->
		<!--<input type="file" multiple name="file-2" class="input-file">-->
		<!--</span> </div>-->
		<!--</div>-->
		<!--<div class="row cl">-->
		<!--<label class="form-label col-xs-4 col-sm-3">所在城市：</label>-->
		<!--<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">-->
		<!--<select class="select" size="1" name="city">-->
		<!--<option value="" selected>请选择城市</option>-->
		<!--<option value="1">北京</option>-->
		<!--<option value="2">上海</option>-->
		<!--<option value="3">广州</option>-->
		<!--</select>-->
		<!--</span> </div>-->
		<!--</div>-->
		<!--<div class="row cl">-->
		<!--<label class="form-label col-xs-4 col-sm-3">备注：</label>-->
		<!--<div class="formControls col-xs-8 col-sm-9">-->
		<!--<textarea name="beizhu" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" onKeyUp="$.Huitextarealength(this,100)"></textarea>-->
		<!--<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>-->
		<!--</div>-->
		<!--</div>-->
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input type="hidden" value="{$info.id}" name="id">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{include file="common/footer_common"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/h_ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/h_ui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/h_ui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/h_ui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form-member-add").validate({
            rules:{
                username:{
                    required:true,
                    minlength:2,
                    maxlength:16
                },
                password:{
                    required:true,
                    minlength:6,
                    maxlength:16
                },
                mobile:{
                    required:true,
                    isMobile:true,
                },
                email:{
                    required:true,
                    email:true,
                },

            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type:'post',
                    url:'/admin/member/update',
                    dataType:'json',
                    async:false,
                    success:function (data) {
                        if (data.status){
                            window.parent.location.reload();
                            layer.msg(data.message,{icon: 6,time:1000});
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.$('.btn-refresh').click();
                            parent.layer.close(index);

                        }else{
                            layer.msg(data.message,{icon: 5,time:1000});
                        }

                    },
                    error:function () {
                        layer.msg("请求错误",{icon: 5,time:1000});
                    }
                });
                // var index = parent.layer.getFrameIndex(window.name);
                // parent.$('.btn btn-success radius r').click();
                // parent.layer.close(index);
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
{include file="common/footer"}